<!-- CONTENT ENDS HERE -->
<div id="mapContainer" style="width: 500px; height: 400px;">
    <script type="text/javascript" id="mapmyvisitors" 
        src="//mapmyvisitors.com/map.js?d=sUwpVOfz6zy023PVROxzxpuqzluKKdLhMk9d_LMF6Mo&cl=ffffff&w=a">
    </script>
</div>
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"></script>
  </body>
</html>
